@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;1,400;1,500&family=Lobster+Two:ital@1&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,500;1,600;1,700;1,800&family=Rajdhani:wght@300;400;500;600&family=Titillium+Web:wght@300;400;600&display=swap');

@layer base {
  .link {
    @apply cursor-pointer hover:underline;
  }
  @layer base {
    html {
      @apply font-play;
    }
    body {
      @apply bg-gray-50;
    }
  }
}


.pulse {
  filter: blur(3px);
  animation: leftToRight 2s infinite;
}
.skeleton-animation {
  @apply absolute h-full w-full  bg-white pulse overflow-hidden z-[40];
}

@layer components {
@keyframes leftToRight {
  0% {
    transform: translateX(0px);
    opacity: 0.4;
  }
  20% {
    transform: translateX(150px);
    opacity: 0;
  }
  40% {
    transform: translateX(0px);
    opacity: 0.4;
  }
  60% {
    transform: translateX(150px);
    opacity: 0;
  }
  80% {
    transform: translateX(0px);
    opacity: 0.4;
  }
  100% {
    transform: translateX(150px);
    opacity: 0.4;
  }
}
}
